.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.characterInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* You can adjust the max-width to your preference */
    margin: 0 auto;
    padding: 20px;
    align-items: end;
    height: 100px;
}

.diceContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 100px;
}

.diceBox{
    background-color: black;
    color: white;
    border: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.characterInformation {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    display: none;
    align-self: center;
    position: absolute;
    max-height: 15%;
    max-width: 20%;
    overflow: auto;

}

.left {
    left: 0;
    top: 0;
}
.right {
    right: 0;
    top: 0;
}

.characterInformation span {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.titleHeader {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    margin: 0 100px;
}

.characterSheet {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 0 auto;
}

.characterStats {
    max-width: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 2px solid black;
}

.characterAbilities {
    max-width: 400px;
    width: 30%;
    border: 2px solid black;
    padding: 0 10px;

}
.statContainer {
    width: 100%;
    margin: 10px
}

.statHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    color: white;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-bottom: 1px solid black;
}

.HeaderTitle {
    font-size: 20px;
    font-weight: bold;
}

.drives {
    
}

.statName {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.statValueDivContainer {
    display: flex;
    gap: 15px;
    margin-left: 12px;
}

.statValueDiv {
    border: 2px solid gray
    ;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    margin: 5px 0;
}

.statValueDivBlank {
    border: 2px solid gray
    ;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    margin: 5px 0;
}

.Gilded {
    background-color: gold;
    height: 15px;
    width: 14px;
    rotate: 45deg;
    margin-top: 3px;
}

.GildedBlank {
    background-color: white;
    height: 15px;
    width: 14px;
    rotate: 45deg;
    border: 1px solid gold;
    margin-top: 3px;
    
}


.showName {
    position: relative;
    background-color: black;
    color: white;
}

.listOfUsersCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; 
}

.characterCard {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.characterSelectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    color: white;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-bottom: 1px solid black;
}

.characterMarks {
    max-width: 400px;
    width: 30%;
    border: 2px solid black;
}

.characterMarksStats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    height: 5%;
}

.characterMarksInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px; /* You can adjust the max-width to your preference */
    margin: 0 auto;
    align-items: end;
    height: 100px;
    height: 95%;

}

.characterMarksInfoContainer div:not(.characterMarksInfoHeader) {
    border-bottom: 2px solid black;
    height: 25%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.characterMarksInfoContainer div span {
    border-bottom: 1px dotted black;
}
